/*********tag selector**************/


h1 {
  color: red;
  font-size: 80px;
}

img:hover{
  background-color: gold;
}


/***********class selectore*************/


.becon{
  background-color: red;
}

.broccoli{
   background-color: green;
}
.circular{
  border-radius: 100%;
}

/***********id selectore*************/
#heading{
  color: blue;
}
